@use 'base/reset';
@use 'abstracts/variables' as v;

@use 'components/tabbar';
@use 'components/topbar';
@use 'components/dashboard';
@use 'components/mobile-layout';
@use 'components/login';
@use 'components/motion';
@use 'components/base-card';
@use 'components/base-list';
@use 'components/progress-bar';

.test {
  border: 1px solid black;
  padding: 16px;
  margin: 4px;
	font-size: 25px;
}

.status-badge {
  border: 1px solid black;
  padding: 4px 12px;
  display: inline-block;
}