@use 'base/reset';
@use 'abstracts/variables' as v;

@use 'components/tabbar';
@use 'components/topbar';
@use 'components/dashboard';
@use 'components/mobile-layout';
@use 'components/login';
@use 'components/motion';
@use 'components/base-card';
@use 'components/base-list';

.test {
  border: 1px solid black;
  padding: 16px;
  margin: 4px;
	font-size: 25px;
}

.progress-bar {
  border: 1px solid black;
  height: 20px;
  position: relative;
  background: white;
}

.progress-bar__fill {
  height: 100%;
  background: lightgray;
  transition: width 0.3s;
}

.progress-bar__label {
  position: absolute;
  top: 0;
  left: 8px;
  line-height: 20px;
  font-size: 12px;
}