@use 'abstracts/variables' as v;

@use 'components/tabbar';
@use 'components/topbar';
@use 'components/dashboard';
@use 'components/mobile-layout';

.test {
  border: 1px solid black;
  padding: 16px;
  margin: 4px;
	font-size: 25px;
}