// _variables.scss
$color-primary: #004552;
$color-accent: #8EB5BF;
$color-complementary: #FFE184;
$color-neutral-light: #DCD8CF;
$color-danger: #F13737;
$color-white: #FFFFFF;
$color-black: #000000;

$font-family: 'Montserrat', sans-serif;
$font-size-title: 26px;
$font-size-subtitle: 15px;
$font-size-body: 12px;
$font-size-caption: 10px;
$font-size-admin-title: 18px;