// Farvepalet 
$color-primary: #004552;
$color-accent: #8eb5bf;
$color-complementary: #ffe184;
$color-white: #ffffff;
$color-bg-neutral: #dcd8cf;
$color-black: #000000;
$color-error: #f13737;

// Typografi 
$font-main: 'Montserrat', sans-serif;

$font-size-title: 26px;      // Titler
$font-size-admin-title: 18px; // Admin Titler 
$font-size-subtitle: 15px;    // Undertitler
$font-size-body: 12px;        // Body
$font-size-caption: 10px;     // Billedtekster