// src/assets/scss/components/_base-list.scss
@use '../abstracts/variables' as v;

.base-list {
  display: flex;
  flex-direction: column;
  gap: v.$spacing-sm;
  width: 100%;

  &__item {
    width: 100%;
  }
}