// _base-button.scss
@use '../abstracts/variables' as v;

.base-button {
  display: block;
  width: 100%;
  padding: 16px;
  border: none;
  border-radius: 8px;
  font-family: v.$font-main;
  font-size: v.$font-size-subtitle;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  cursor: pointer;
  transition: filter 0.1s ease;

  &:active {
    filter: brightness(0.95);
  }

  &--primary {
    background: v.$color-complementary;
    color: v.$color-primary;
  }

  &--secondary {
    background: v.$color-accent;
    color: v.$color-primary;
  }
}