// src/assets/scss/components/_chat-preview-card.scss
@use '../abstracts/variables' as v;

.chat-preview-card {
  display: flex;
  align-items: center;
  gap: 16px;
  padding: 12px;
  background: v.$color-accent;
  border-radius: 8px;
  cursor: pointer;

  &__image {
		width: 60px;
		height: 60px;
		object-fit: cover;
		border-radius: 50%;
		border: 3px solid v.$color-complementary;
		background: #ddd;
		display: flex;
		align-items: center;
		justify-content: center;
		flex-shrink: 0;
		overflow: hidden;
		color: v.$color-primary;

		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
  }

  &__content {
    flex: 1;
    min-width: 0;
    padding-right: 12px;
  }

  &__name {
    margin: 0;
    font-size: v.$font-size-subtitle;
		font-weight: 400;
    text-transform: uppercase;
    color: v.$color-black;
  }

  &__message {
    margin: 4px 0 0;
    font-size: v.$font-size-body;
    color: #3b3b3b;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}