@use '../abstracts/variables' as v;

.dashboard-page {
  background-color: v.$color-bg-neutral; 
  min-height: 100vh;
  padding-bottom: 100px; 
}

.dashboard-header {
  background-color: v.$color-primary;
  padding: 20px 20px 20px;

  &__image-container {
    width: 100%;
    border-radius: 4px;
    overflow: hidden;
  }

  &__image {
    width: 100%;
    display: block;
    object-fit: cover;
  }
}

.dashboard-content {
  padding: 16px;
}

.dashboard-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 12px;
  margin-bottom: 12px;
}