// src/assets/scss/components/_dashboard.scss
.dashboard {
  padding: 16px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 16px;

  &__card {
    border: 1px solid black;
    padding: 24px;
    text-align: center;
    text-decoration: none;
    color: inherit;
  }
}