@use '../abstracts/mixins' as m;
@use '../abstracts/variables' as v;

.project-card {
  @include m.card-with-image;

  &__image {
    width: 100px;
    height: 80px;
    object-fit: cover;
    border-radius: v.$radius-sm;
    flex-shrink: 0;
  }

  &__title {
    font-size: v.$font-size-subtitle;
    text-transform: uppercase;
    margin: 0;
  }

  &__subtitle {
    font-size: v.$font-size-body;
    margin: 0;
  }
}