// src/assets/scss/components/_progress-bar.scss
@use '../abstracts/variables' as v;

.progress-bar {
  margin-left: -#{v.$spacing-md};
  margin-right: -#{v.$spacing-md};
  height: 28px;
  background-color: v.$color-white;
  position: relative;
  display: flex;
  align-items: stretch;
  overflow: hidden;
  padding: 4px 0;
  box-sizing: border-box;

  &__fill {
    background-color: v.$color-complementary;
    transition: width 0.5s ease-in-out;
  }

  &__label {
    position: absolute;
    left: 12px;
    top: 50%;
    transform: translateY(-50%);
    font-family: v.$font-main;
    font-size: 14px;
    font-weight: 700;
    color: v.$color-primary;
    z-index: 1;
  }
}