// src/assets/scss/layouts/_mobile-layout.scss
@use '../abstracts/variables' as v;

.mobile-layout {
  min-height: 100vh;
  display: flex;
  flex-direction: column;

  &__content {
    flex: 1;
    padding: v.$spacing-md;
    padding-bottom: 100px;
  }
}