// src/assets/scss/layouts/_topbar.scss
@use '../abstracts/variables' as v;

.top-bar {
  position: sticky;
  top: 0;
  z-index: 10;
  background: v.$color-primary;
  color: v.$color-white;
  padding: v.$spacing-sm v.$spacing-md;
  width: 100%;

  &__row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 48px;
  }

  &__icon-btn {
    color: v.$color-white;
    padding: v.$spacing-sm;
    position: relative;

    svg {
      opacity: 0.9;
    }
  }

  &__title {
    margin: v.$spacing-md 0 v.$spacing-xs v.$spacing-sm;
    font-size: v.$font-size-title;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 0.05em;
  }
}

.top-bar-phase {
  display: flex;
  align-items: center;
  gap: v.$spacing-sm;

    &__icon {
    min-width: 50px;
    min-height: 50px;
    object-fit: contain;
  }

  &__status {
    margin-left: auto;
  }
}