@use '../abstracts/variables' as v;

.dashboard-header {
  background-color: v.$color-primary;
  padding: 20px;

  &__image-container {
    width: 100%;
    border-radius: 4px;
    overflow: hidden;
  }

  &__image {
    width: 100%;
    display: block;
    object-fit: cover;
  }
}

.dashboard-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 16px;
  margin-bottom: 16px;
}